@{
    ViewData["Title"] = "Home Page";
}


<div class="hero-background">
    <div class="hero-text">
        <h1>Welcome to Targmart!</h1>
        <h3>Where We Sell Everything, Cause We Can</h3>
        <div class="btn-container text-center">
            <p><a class="btn btn-primary" asp-controller="Login" asp-action="Index">Shop!</a></p>
            <p><a class="btn btn-primary" asp-controller="Login" asp-action="CreateCustomer">Create New User</a></p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <h2>About Targmart</h2>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, cupiditate qui veniam sequi necessitatibus consequuntur provident officia eaque! Aliquid incidunt perspiciatis in at porro. Quisquam officiis nulla nam nostrum corrupti.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, cupiditate qui veniam sequi necessitatibus consequuntur provident officia eaque! Aliquid incidunt perspiciatis in at porro. Quisquam officiis nulla nam nostrum corrupti.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, cupiditate qui veniam sequi necessitatibus consequuntur provident officia eaque! Aliquid incidunt perspiciatis in at porro. Quisquam officiis nulla nam nostrum corrupti.
        </p>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, cupiditate qui veniam sequi necessitatibus consequuntur provident officia eaque! Aliquid incidunt perspiciatis in at porro. Quisquam officiis nulla nam nostrum corrupti.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, cupiditate qui veniam sequi necessitatibus consequuntur provident officia eaque! Aliquid incidunt perspiciatis in at porro. Quisquam officiis nulla nam nostrum corrupti.
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, cupiditate qui veniam sequi necessitatibus consequuntur provident officia eaque! Aliquid incidunt perspiciatis in at porro. Quisquam officiis nulla nam nostrum corrupti.
        </p>
    </div>
</div>

